#mappa_climatologici-mappa{
  min-height: 1000px !important;
}


/* legenda padding right */

.info.legend.leaflet-control{
  padding-right: 3% !important;
  padding-left: 3% !important; 
  background-color: #FFF;
  background-color: rgb(247,247,247) !important;
  font-size: 14px !important;
}

.info.legend.leaflet-control div{
  font-size: 12px !important;
}